<div>
   <app-customer-form (customerAddedEvent) = "addCustomer($event)"></app-customer-form>
  <h3>Customers list:</h3>
  <app-spinner [visible] = "isLoading"></app-spinner>
   <ul class="list-group customers">
        <li class="list-group-item" *ngFor = "let customer of customers" [class.active]="currentCustomer == customer"  (click)="select(customer)" >
            <app-customer [customer] = customer (deleteEvent) = "deleteCustomer($event)" ></app-customer>           
        </li>
  </ul>
</div>