
<div>
  <app-invoice-form (invoiceAddedEvent) = "addInvoice($event)"></app-invoice-form>
  <h3>List of invoices</h3>
  <app-spinner [visible] = "isLoading"></app-spinner>
  <ul >
        <li class="list-group-item" *ngFor = "let invoice of invoices" [class.active]="currentInvoice == invoice" (click)="select(invoice)" >
                      <app-invoice [invoice]="invoice" (deleteEvent) = "deleteInvoice($event)" (editEvent) = "updateInvoice($event)"></app-invoice> 
        </li>
  </ul>
</div>

