Product Name: {{invoice.name}}, Amount: {{invoice.amount}} 
<span *ngIf = "!isEdit" >Name: {{invoice.name}}, Amount {{invoice.amount}} </span>
<span *ngIf = "isEdit" >Name: <input type="text" [(ngModel)] = "invoice.name"> Amount: <input type="text" [(ngModel)] = "invoice.amount"></span>
<button (click) = "sendDelete()" >Delete</button>  <button (click) = "toggleEdit()" >{{editButtonText}}</button>
