<span *ngIf ="!isEdit">Name: {{user.name}}, Email: {{user.email}}</span>
<span *ngIf ="isEdit">Name: <input type ="text" [(ngModel)] = "user.name">Email: <input type ="text" [(ngModel)] = "user.email"></span>
<button *ngIf = "!isEdit" (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button> 
<button *ngIf = "isEdit" (click) ="cancelEedit()">Cancel</button>