Name: {{customer.name}}, Age: {{customer.age}}
<span *ngIf = "!isEdit" >Name: {{customer.name}}, Age: {{customer.age}} </span>
<span *ngIf = "isEdit" >Name: <input type="text" [(ngModel)] = "customer.name"> Age: <input type="text" [(ngModel)] = "customer.age"></span>
<button (click) = "sendDelete()" >Delete</button> <button (click) = "toggleEdit()" >{{editButtonText}}</button>